.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    flex-shrink: 0;
}

.imageBoxCss {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imageCss {
    display: none;
}