.background {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    overflow: hidden;
}

.zoomBox {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    flex-shrink: 0;
}
