.box {
    display: inline-block;
    overflow: hidden;
    border: 2px solid lime; /* TODO remove dev code */
}

.shifter {

}

.zoomer {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
}
